In [1]:
#import libraries
import os
import sys
from salary_predictions_helper import *

# author info
__author__ = "Ivana Hybenova"
__email__ = "ivana.hybenova1@gmail.com"

### Define parameters to load data and make predictions

In [2]:
#define input files (pulling data from the disk)
from_database = False
new_data_file = 'unseen_data.csv'
feature_cols = 'feature_cols.pkl'
label_encoders = 'label_encoders.pkl'
mean_encoders = 'mean_encoders.pkl'
group_stats_df = 'group_stats_df.pkl'
model = 'model_gb.pkl'

##define input files (pulling data from the database)
#database_credentials = pd.DataFrame({
#    'host': [os.environ['HOST_WAREHOUSE']],
#    'database': [os.environ['NAME_WAREHOUSE']],
#    'user': [os.environ['USER_WAREHOUSE']],
#    'password': [os.environ['PASSWORD_WAREHOUSE']],
#    'engine': [os.environ['ENGINE_WAREHOUSE']]
#})

## SQL query to download jobs table
#sql_query =  """
#               SELECT *
#               FROM predicted_jobs
#             """     

#define variables
cat_cols = ['jobType', 'degree', 'major', 'industry']
num_cols = ['yearsExperience', 'milesFromMetropolis']
target_col = 'salary'

### Load the data

In [3]:
data = NewData(cat_cols, num_cols, from_database, new_data_file,  target_col, feature_cols, label_encoders, mean_encoders, group_stats_df, model)

### Check whether there are jobs with salaries to predict

In [4]:
if len(data.new_data) == 0:
    raise SystemExit("There are no new jobs with salaries to predict!")

### Preprocess the data

In [5]:
data.preprocess()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary,group_mean,group_max,group_min,group_std,group_median
0,JOB1362685407687,COMP33,3.0,1.0,102.587732,115.786735,22,73,0.0,105.469314,198,54,25.433820,102.0
1,JOB1362685407688,COMP13,1.0,0.0,102.587732,109.385252,20,47,0.0,74.860999,164,31,22.493790,71.0
2,JOB1362685407689,COMP10,5.0,3.0,127.704223,115.786735,17,9,0.0,149.819620,245,88,30.467194,147.0
3,JOB1362685407690,COMP21,3.0,1.0,102.587732,130.989492,14,96,0.0,119.872742,223,62,27.857768,116.0
4,JOB1362685407691,COMP36,1.0,4.0,127.704223,130.989492,10,44,0.0,118.851145,192,69,27.747576,116.0

### Get the predictions

In [6]:
data.get_predictions()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary,group_mean,group_max,group_min,group_std,group_median
0,JOB1362685407687,COMP33,3.0,1.0,102.587732,115.786735,22,73,112.016461,105.469314,198,54,25.433820,102.0
1,JOB1362685407688,COMP13,1.0,0.0,102.587732,109.385252,20,47,92.320110,74.860999,164,31,22.493790,71.0
2,JOB1362685407689,COMP10,5.0,3.0,127.704223,115.786735,17,9,178.041288,149.819620,245,88,30.467194,147.0
3,JOB1362685407690,COMP21,3.0,1.0,102.587732,130.989492,14,96,105.136530,119.872742,223,62,27.857768,116.0
4,JOB1362685407691,COMP36,1.0,4.0,127.704223,130.989492,10,44,118.174103,118.851145,192,69,27.747576,116.0

### Save predictions

In [2]:
data.save_predictions

NameError: name 'data' is not defined